In [152]:
import pandas as pd
import numpy as np

In [153]:
df=pd.read_csv("GDP.csv")

In [154]:
df.head()

,Country,Country Code,1990,1991,1992,1993,1994,1995,1996,1997,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,ABW,24101.109430,25870.755940,26533.343900,27430.752400,28656.520210,28648.990020,28499.089430,30215.949230,...,33732.847450,35492.618490,35498.982090,37419.892820,38223.372260,38249.054870,38390.271650,39454.629830,NaN,NaN
1,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1637.377987,1626.764793,1806.763930,1874.765634,1897.525938,1886.692977,1896.992520,1934.636754,1955.006208,NaN
2,Angola,AGO,3089.683369,3120.356148,2908.160798,2190.768160,2195.532289,2496.199493,2794.896906,2953.342709,...,6230.297028,6346.395122,6772.528333,6980.423038,7199.245478,7096.600615,6756.935074,6650.584940,6452.355165,NaN
3,Albania,ALB,2549.473022,1909.114038,1823.307673,2057.449657,2289.873135,2665.764906,2980.066288,2717.362124,...,9628.025783,10207.752350,10526.235450,10571.010650,11259.225890,11662.030480,11868.178970,12930.140030,13364.155400,NaN
4,Arab World,ARB,6808.206995,6872.273195,7255.328362,7458.647059,7645.682856,7774.207360,8094.149842,8397.515692,...,14127.778020,14518.827450,15423.465390,15824.780110,16153.244860,16501.792590,16935.383300,17099.889390,17570.137600,NaN

In [155]:
selected_columns=df.iloc[:, [0, 1, -1]]#to acces the columns-12,last

In [156]:
selected_columns

         Country  Country Code  2019
0           Aruba          ABW   NaN
1     Afghanistan          AFG   NaN
2          Angola          AGO   NaN
3         Albania          ALB   NaN
4      Arab World          ARB   NaN
..            ...          ...   ...
255        Kosovo          XKX   NaN
256   Yemen, Rep.          YEM   NaN
257  South Africa          ZAF   NaN
258        Zambia          ZMB   NaN
259      Zimbabwe          ZWE   NaN

[260 rows x 3 columns]

In [157]:
from sklearn.impute import KNNImputer

In [158]:
numeric_cols = df.select_dtypes(include='number').columns#to select only numeric values

In [159]:
imputer=KNNImputer(n_neighbors=3)#knn imputer
GDPI=imputer.fit_transform(df[numeric_cols])

In [160]:
array=pd.DataFrame(GDPI)#to convert it into n-array into a dataframe

In [161]:
array

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,24101.109430,25870.755940,26533.343900,27430.752400,28656.520210,28648.990020,28499.089430,30215.949230,30512.683910,30728.054500,...,34693.086750,33732.847450,35492.618490,35498.982090,37419.892820,38223.372260,38249.054870,38390.271650,39454.629830,42162.606443
1,537.161717,571.118109,602.843899,623.710786,531.616762,611.730513,670.287094,707.938290,732.626501,761.505976,...,1454.663015,1637.377987,1626.764793,1806.763930,1874.765634,1897.525938,1886.692977,1896.992520,1934.636754,1955.006208
2,3089.683369,3120.356148,2908.160798,2190.768160,2195.532289,2496.199493,2794.896906,2953.342709,3027.341795,3037.721175,...,6092.783245,6230.297028,6346.395122,6772.528333,6980.423038,7199.245478,7096.600615,6756.935074,6650.584940,6452.355165
3,2549.473022,1909.114038,1823.307673,2057.449657,2289.873135,2665.764906,2980.066288,2717.362124,3021.014738,3471.652592,...,8814.810856,9628.025783,10207.752350,10526.235450,10571.010650,11259.225890,11662.030480,11868.178970,12930.140030,13364.155400
4,6808.206995,6872.273195,7255.328362,7458.647059,7645.682856,7774.207360,8094.149842,8397.515692,8797.662606,8938.451524,...,13640.846780,14127.778020,14518.827450,15423.465390,15824.780110,16153.244860,16501.792590,16935.383300,17099.889390,17570.137600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,2915.306906,2992.029397,3073.763867,3199.843258,3297.174206,3453.754664,3619.079867,3767.517115,3844.093576,3975.405737,...,7506.898620,7782.875107,8222.285712,8547.652384,8903.763429,9194.741819,9781.019679,10208.857900,10756.663460,11348.363450
256,2223.028771,2325.263661,2443.920401,2472.188808,2569.648739,2657.813447,2730.145147,2829.866193,2946.082495,3015.154886,...,4221.413776,4472.726448,3876.302619,3935.167105,4084.882967,4045.500031,3320.110156,2827.691023,2645.308383,2575.126385
257,6424.502215,6414.057923,6261.716184,6331.777580,6520.866604,6719.583315,7000.801619,7179.806651,7180.857025,7348.952257,...,11416.001690,11728.160490,12179.174190,12488.215570,12815.727070,13090.476830,13185.253280,13188.029620,13438.282890,13686.882360
258,1517.926292,1528.781247,1499.340446,1600.347799,1457.627696,1493.123972,1572.973238,1616.492883,1584.006801,1636.148309,...,3017.024571,3269.794329,3419.010460,3634.780353,3765.584162,3893.549478,3927.761816,3998.004435,4090.120040,4223.906936
259,1829.677575,1949.732966,1777.843425,1807.225700,1986.028160,2004.362417,2227.060619,2303.829588,2377.832245,2377.128420,...,1581.161558,1888.566739,2168.110293,2534.541919,2583.985638,2648.568967,2679.580317,2687.385429,2825.725122,3029.793005

In [162]:
combined_df = pd.concat([selected_columns,array], axis=1)#to combine data frames horizontally

In [163]:
combined_df

,Country,Country Code,2019,0,1,2,3,4,5,6,...,19,20,21,22,23,24,25,26,27,28
0,Aruba,ABW,NaN,24101.109430,25870.755940,26533.343900,27430.752400,28656.520210,28648.990020,28499.089430,...,34693.086750,33732.847450,35492.618490,35498.982090,37419.892820,38223.372260,38249.054870,38390.271650,39454.629830,42162.606443
1,Afghanistan,AFG,NaN,537.161717,571.118109,602.843899,623.710786,531.616762,611.730513,670.287094,...,1454.663015,1637.377987,1626.764793,1806.763930,1874.765634,1897.525938,1886.692977,1896.992520,1934.636754,1955.006208
2,Angola,AGO,NaN,3089.683369,3120.356148,2908.160798,2190.768160,2195.532289,2496.199493,2794.896906,...,6092.783245,6230.297028,6346.395122,6772.528333,6980.423038,7199.245478,7096.600615,6756.935074,6650.584940,6452.355165
3,Albania,ALB,NaN,2549.473022,1909.114038,1823.307673,2057.449657,2289.873135,2665.764906,2980.066288,...,8814.810856,9628.025783,10207.752350,10526.235450,10571.010650,11259.225890,11662.030480,11868.178970,12930.140030,13364.155400
4,Arab World,ARB,NaN,6808.206995,6872.273195,7255.328362,7458.647059,7645.682856,7774.207360,8094.149842,...,13640.846780,14127.778020,14518.827450,15423.465390,15824.780110,16153.244860,16501.792590,16935.383300,17099.889390,17570.137600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,Kosovo,XKX,NaN,2915.306906,2992.029397,3073.763867,3199.843258,3297.174206,3453.754664,3619.079867,...,7506.898620,7782.875107,8222.285712,8547.652384,8903.763429,9194.741819,9781.019679,10208.857900,10756.663460,11348.363450
256,"Yemen, Rep.",YEM,NaN,2223.028771,2325.263661,2443.920401,2472.188808,2569.648739,2657.813447,2730.145147,...,4221.413776,4472.726448,3876.302619,3935.167105,4084.882967,4045.500031,3320.110156,2827.691023,2645.308383,2575.126385
257,South Africa,ZAF,NaN,6424.502215,6414.057923,6261.716184,6331.777580,6520.866604,6719.583315,7000.801619,...,11416.001690,11728.160490,12179.174190,12488.215570,12815.727070,13090.476830,13185.253280,13188.029620,13438.282890,13686.882360
258,Zambia,ZMB,NaN,1517.926292,1528.781247,1499.340446,1600.347799,1457.627696,1493.123972,1572.973238,...,3017.024571,3269.794329,3419.010460,3634.780353,3765.584162,3893.549478,3927.761816,3998.004435,4090.120040,4223.906936
259,Zimbabwe,ZWE,NaN,1829.677575,1949.732966,1777.843425,1807.225700,1986.028160,2004.362417,2227.060619,...,1581.161558,1888.566739,2168.110293,2534.541919,2583.985638,2648.568967,2679.580317,2687.385429,2825.725122,3029.793005

In [164]:
#to change the name of the columns
combined_df.rename(columns={0: 1990,
                         1:1991,
                         2:1992,
                         3:1993,
                         4:1994,
                         5:1995,
                         6:1996,
                         7:1997,
                         8:1998,
                         9:1999,
                         10:2000,
                         11:2001,
                         12:2002,
                         13:2003,
                         14:2004,
                         15:2005,
                         16:2006,
                         17:2007,
                         18:2008,
                         19:2009,
                         20:2010,
                         21:2011,
                         22:2012,
                         23:2013,
                         24:2014,
                         25:2015,
                         26:2016,
                         27:2017,
                         28:2018,}, inplace=True)

In [165]:
combined_df

,Country,Country Code,2019,1990,1991,1992,1993,1994,1995,1996,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,NaN,24101.109430,25870.755940,26533.343900,27430.752400,28656.520210,28648.990020,28499.089430,...,34693.086750,33732.847450,35492.618490,35498.982090,37419.892820,38223.372260,38249.054870,38390.271650,39454.629830,42162.606443
1,Afghanistan,AFG,NaN,537.161717,571.118109,602.843899,623.710786,531.616762,611.730513,670.287094,...,1454.663015,1637.377987,1626.764793,1806.763930,1874.765634,1897.525938,1886.692977,1896.992520,1934.636754,1955.006208
2,Angola,AGO,NaN,3089.683369,3120.356148,2908.160798,2190.768160,2195.532289,2496.199493,2794.896906,...,6092.783245,6230.297028,6346.395122,6772.528333,6980.423038,7199.245478,7096.600615,6756.935074,6650.584940,6452.355165
3,Albania,ALB,NaN,2549.473022,1909.114038,1823.307673,2057.449657,2289.873135,2665.764906,2980.066288,...,8814.810856,9628.025783,10207.752350,10526.235450,10571.010650,11259.225890,11662.030480,11868.178970,12930.140030,13364.155400
4,Arab World,ARB,NaN,6808.206995,6872.273195,7255.328362,7458.647059,7645.682856,7774.207360,8094.149842,...,13640.846780,14127.778020,14518.827450,15423.465390,15824.780110,16153.244860,16501.792590,16935.383300,17099.889390,17570.137600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,Kosovo,XKX,NaN,2915.306906,2992.029397,3073.763867,3199.843258,3297.174206,3453.754664,3619.079867,...,7506.898620,7782.875107,8222.285712,8547.652384,8903.763429,9194.741819,9781.019679,10208.857900,10756.663460,11348.363450
256,"Yemen, Rep.",YEM,NaN,2223.028771,2325.263661,2443.920401,2472.188808,2569.648739,2657.813447,2730.145147,...,4221.413776,4472.726448,3876.302619,3935.167105,4084.882967,4045.500031,3320.110156,2827.691023,2645.308383,2575.126385
257,South Africa,ZAF,NaN,6424.502215,6414.057923,6261.716184,6331.777580,6520.866604,6719.583315,7000.801619,...,11416.001690,11728.160490,12179.174190,12488.215570,12815.727070,13090.476830,13185.253280,13188.029620,13438.282890,13686.882360
258,Zambia,ZMB,NaN,1517.926292,1528.781247,1499.340446,1600.347799,1457.627696,1493.123972,1572.973238,...,3017.024571,3269.794329,3419.010460,3634.780353,3765.584162,3893.549478,3927.761816,3998.004435,4090.120040,4223.906936
259,Zimbabwe,ZWE,NaN,1829.677575,1949.732966,1777.843425,1807.225700,1986.028160,2004.362417,2227.060619,...,1581.161558,1888.566739,2168.110293,2534.541919,2583.985638,2648.568967,2679.580317,2687.385429,2825.725122,3029.793005

In [166]:
combined_df.to_csv(r"C:\Users\ASUs\OneDrive\Desktop\kaggle\gdpimputed.csv",index=True)

In [167]:
df=pd.read_csv("gdpimputed.csv")

In [168]:
df

,Unnamed: 0,Country,Country Code,2019,1990,1991,1992,1993,1994,1995,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,0,Aruba,ABW,NaN,24101.109430,25870.755940,26533.343900,27430.752400,28656.520210,28648.990020,...,34693.086750,33732.847450,35492.618490,35498.982090,37419.892820,38223.372260,38249.054870,38390.271650,39454.629830,42162.606443
1,1,Afghanistan,AFG,NaN,537.161717,571.118109,602.843899,623.710786,531.616762,611.730513,...,1454.663015,1637.377987,1626.764793,1806.763930,1874.765634,1897.525938,1886.692977,1896.992520,1934.636754,1955.006208
2,2,Angola,AGO,NaN,3089.683369,3120.356148,2908.160798,2190.768160,2195.532289,2496.199493,...,6092.783245,6230.297028,6346.395122,6772.528333,6980.423038,7199.245478,7096.600615,6756.935074,6650.584940,6452.355165
3,3,Albania,ALB,NaN,2549.473022,1909.114038,1823.307673,2057.449657,2289.873135,2665.764906,...,8814.810856,9628.025783,10207.752350,10526.235450,10571.010650,11259.225890,11662.030480,11868.178970,12930.140030,13364.155400
4,4,Arab World,ARB,NaN,6808.206995,6872.273195,7255.328362,7458.647059,7645.682856,7774.207360,...,13640.846780,14127.778020,14518.827450,15423.465390,15824.780110,16153.244860,16501.792590,16935.383300,17099.889390,17570.137600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,255,Kosovo,XKX,NaN,2915.306906,2992.029397,3073.763867,3199.843258,3297.174206,3453.754664,...,7506.898620,7782.875107,8222.285712,8547.652384,8903.763429,9194.741819,9781.019679,10208.857900,10756.663460,11348.363450
256,256,"Yemen, Rep.",YEM,NaN,2223.028771,2325.263661,2443.920401,2472.188808,2569.648739,2657.813447,...,4221.413776,4472.726448,3876.302619,3935.167105,4084.882967,4045.500031,3320.110156,2827.691023,2645.308383,2575.126385
257,257,South Africa,ZAF,NaN,6424.502215,6414.057923,6261.716184,6331.777580,6520.866604,6719.583315,...,11416.001690,11728.160490,12179.174190,12488.215570,12815.727070,13090.476830,13185.253280,13188.029620,13438.282890,13686.882360
258,258,Zambia,ZMB,NaN,1517.926292,1528.781247,1499.340446,1600.347799,1457.627696,1493.123972,...,3017.024571,3269.794329,3419.010460,3634.780353,3765.584162,3893.549478,3927.761816,3998.004435,4090.120040,4223.906936
259,259,Zimbabwe,ZWE,NaN,1829.677575,1949.732966,1777.843425,1807.225700,1986.028160,2004.362417,...,1581.161558,1888.566739,2168.110293,2534.541919,2583.985638,2648.568967,2679.580317,2687.385429,2825.725122,3029.793005